body {
  background: #1b80c3;
}

a {
  color: white;
}

#mega_container {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  width: 600px;
  padding: 30px 50px 30px 50px;
  margin-left: auto;
  margin-right: auto;
  border-left: white solid 2px;
  border-right: white solid 2px;
  color: white;
  background: #1D9BF0;
}

#update {
  font-size: 20px;
  margin-bottom: 20px;
}

.tweet {
  position: absolute;
  fill: white;
  width: 1160px;
  transform: rotate(20deg);
  z-index: -1;
  top: 390px;
  left: -260px;
}

#title {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 56px;
}

.subtitles {
  font-size: 25px;
  margin: 20px 0 0 0;
  padding-right: 25px;
  position: relative;
  float: left;
  background: #1D9BF0;
  z-index: 1;
}

.section {
  position: relative;
	width: 100%;
	top: -16px;
	border: 0.8px solid white;
}

.cards {
  position: relative;
  height: 280px;
  width: 110px;
  text-align: center;
  float: left;
}

.cards img {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 10px;
  left: 20px;
}

#cards_1 {
  left: 0;
}

#cards_2 {
  left: 20px;
}

#cards_3 {
  left: 40px;
}

#cards_4 {
  left: 60px;
}

.stats_info, .stats_followers, .stats_mentions {
  position: absolute;
  height: 70px;
  width: 100%;
}

.stats_info {
  top: 100px;
}

.stats_followers {
  top: 130px;
}

.stats_mentions {
  top: 200px;
}

.stats_values {
  top: -3px;
  font-size: 30px;
}

.stats_titles {
  top: 40px;
  font-size: 15px;
}

#timementions {
  margin: 20px 0 20px 0;
}

.ggiraph-toolbar-block.shinyonly {
  display: none;
}

.foto {
  float: left;
  width: 100px;
  margin-right: 20px;
}

.credenciais {
  float: left;
}

.support {
  font-size: 20px;
}

.support a {
  font-weight: bold;
}